.button{
  height:35px !important;
  line-height: 35px !important;
  font-size:14px;
}
ion-label{
  font-size: 14px;
}

ion-item{
  padding: 0 !important;
}
#loginForm ion-list{
  margin: 0 !important;
}
#loginBtn{

margin-top: 20px;
}
::-webkit-scrollbar {
  display: none;
}
#preRegisterButton{

}
#loginBG{
  margin: auto;
  display: block;
  margin-top: 30px;
}
#rem{
  margin-top: 10px !important;
  display: inline-block;

}
#remC{
  display: inline !important;
  margin-left: 5px;
}
#loginOpr{
  margin-top: 20px;

}

#toAdminBtn{
  float: right;
}
