
<ion-header>

  <ion-navbar>
     <ion-title><ion-icon name="stats"></ion-icon>票数排行榜</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list >
    <ion-card *ngFor="let play of rankPlays" >
      <img [src]="play.profile"/>
      <ion-card-content>
        <ion-card-title class="playerInfoName">
          {{play.name}}—{{play.city}}
        </ion-card-title>
        <p class="playerInfoSong">
          《{{play.song}}》
        </p>
        <p>
          {{play.description}}
        </p>
        <ion-item>
          <button  *ngIf="play.sex=='女'" ion-button block color="danger">{{play.vote}}票 <ion-icon class="good" name="thumbs-up"></ion-icon></button>
          <button  *ngIf="play.sex=='男'" ion-button block color="dark">{{play.vote}}票 <ion-icon class="good" name="thumbs-up"></ion-icon></button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
